body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #000;
}

.bar {
    position: fixed;
    background-color: #2e6da4;
    height: 10px;
    width: 100%;
}

.title {
    color: #fff;
    vertical-align: middle;
    text-align: center;
    padding-top: 15em;
}

.title h1 {
    font-size: 72px;
}

.page {
    background-color: #2e6da4;
    width:100%;
    height: 90vh;
    display: table;
    position: relative;
    z-index: 10;
}

#intro {
    margin-top: 10vh;
}

.main {
    min-height: 100vh;
}

.main h1 {
    text-align: center;
    font-size: 60px;
    margin-bottom: 1em;
}

.main h2 {
    text-align: center;
    font-size: 32px;
    text-transform: uppercase;
    margin-top: 1em;
}

.btn-big-top-margin {
    margin: 3em;
}

p, ul {
    font-size: 20px;
}

.canvas-frame {
    margin-top: 20px;
}